.certificate {
  margin-top: 80px;
  padding: 20px;
}

.affiliate {
  padding: 20px;
  max-width: 1000px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.affiliate h2 {
  color: #333;
}

.affiliate .affiliate__group {
  max-width: 100px;
}

.affiliate__group span {
  color: var(--primary-bg);
}

.affiliate__group img {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .affiliate {
    flex-direction: column;
  }
  .affiliate h2 {
    font-size: 16px;
  }
}
