.homeStory__container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeStory__container .homeStory {
  display: flex;
  gap: 50px;

  max-width: 1000px;
  margin-inline: auto;
}

.homeStory .left {
  flex: 1;
  padding: 20px;

  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.homeStory .left .desc {
  line-height: 1.5rem;
  color: #333;
}
.homeStory .right {
  padding: 20px;
  flex: 1;
  width: 100%;
}
.right .vid {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .homeStory__container .homeStory {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }

  .homeStory .right {
    max-width: 400px;
  }
}
