.homevideo__container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homevideo__container .homevideo {
  display: flex;
  gap: 50px;
}

.homevideo .left {
  flex: 1;
  padding: 20px;

  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.homevideo .left h3 {
  max-width: 250px;
  white-space: pre-line;
  word-wrap: break-word;
}
.homevideo .left h3::first-letter {
  color: var(--primary-bg);
  initial-letter: 3;
}

.homevideo .left .desc {
  line-height: 1.5rem;
  color: #333;
}
.homevideo .right {
  padding: 20px;
  flex: 2;
  width: 100%;
}
.right .vid {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .homevideo__container .homevideo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }

  .homevideo .right {
    max-width: 400px;
  }
}
